

body{
margin:0;
font-family: Arial, Helvetica, sans-serif;

background-image: url("images/browse-bg.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;

color:white;
}


header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:black;
}

header h1{
color:white;
letter-spacing:2px;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
font-size:16px;
}

nav a:hover{
color:#00c6ff;
}



.cars{
padding:80px 60px;
text-align:center;
background: rgba(0,0,0,0.6);
}


.cars h2{
font-size:36px;
margin-bottom:50px;
}



.car-container{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:50px;
max-width:1200px;
margin:auto;
}



.car{
background:rgba(255,255,255,0.05);

border-radius:18px;

padding:25px;

backdrop-filter:blur(8px);

border:1px solid rgba(255,255,255,0.08);

box-shadow:0 0 20px rgba(0,0,0,0.7);

transition:0.4s;
}



.car:hover{

transform:translateY(-12px);

box-shadow:
0 0 20px #008cff,
0 0 40px #008cff33;

}



.car img{

width:100%;

border-radius:12px;

margin-bottom:20px;

transition:0.4s;

}


.car:hover img{

transform:scale(1.05);

}



.car h3{

font-size:22px;

margin-bottom:10px;

font-weight:600;

}



.car p{

font-size:18px;

color:#bdbdbd;

margin-bottom:20px;

}



.car button{

background:linear-gradient(45deg,#0077ff,#00c6ff);

border:none;

padding:12px 28px;

border-radius:10px;

color:white;

font-size:15px;

cursor:pointer;

transition:0.3s;

}


.car button:hover{

transform:scale(1.05);

box-shadow:0 0 15px #008cff;

}



@media(max-width:900px){

.car-container{
grid-template-columns:repeat(2,1fr);
}

}


@media(max-width:600px){

.car-container{
grid-template-columns:1fr;
}

}