body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #000000, #1a1a1a);
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: black;
}

header h1 {
  color: #00bfff;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

/* Login Section */
.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.login-box {
  background: #222;
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #00bfff;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.login-box button:hover {
  background: #009acd;
}

.remember {
  text-align: left;
  font-size: 14px;
}

#message {
  margin-top: 10px;
  color: red;
}

.signup {
  margin-top: 15px;
  font-size: 14px;
}